@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply font-medium;
    }

    ::-webkit-scrollbar {
        @apply w-4 h-4 bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply border-4 border-solid border-transparent bg-zinc-400/60 hover:bg-zinc-400 bg-clip-content rounded-full;
    }

    html {
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;
        scroll-behavior: smooth;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    a {
        @apply text-blue-600 dark:text-blue-400 hover:underline active:scale-95 transition;
    }

    button,
    [role=button] {
        @apply p-2.5 inline-flex items-center gap-x-2 text-sm font-semibold rounded-3xl bg-zinc-100 text-zinc-800 hover:bg-zinc-200 active:scale-95 disabled:opacity-50 disabled:pointer-events-none dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:text-zinc-200 transition;
    }

    button.active,
    [role=button].active {
        @apply bg-zinc-200 dark:bg-zinc-600;
    }

    img {
        @apply dark:brightness-90 transition;
    }

    hr {
        @apply w-0.5 h-5 border-none bg-zinc-100 dark:bg-zinc-700 rounded-full transition;
    }
}